In [1]:
import pandas as pd # pandas used to handling tables and reading the files

In [26]:
dataset = pd.read_csv("Salary_Data.csv") # Reading our csv file by using read_csv method and assigning into dataset

In [27]:
dataset # printing dataset value

    YearsExp  Salary
0        1.1   39343
1        1.3   46205
2        1.5   37731
3        2.0   43525
4        2.2   39891
5        2.9   56642
6        3.0   60150
7        3.2   54445
8        3.2   64445
9        3.7   57189
10       3.9   63218

In [28]:
independent = dataset[["YearsExp"]] # assigning input column values into independent variable
independent #printing independent variable and input is splitted

    YearsExp
0        1.1
1        1.3
2        1.5
3        2.0
4        2.2
5        2.9
6        3.0
7        3.2
8        3.2
9        3.7
10       3.9

In [29]:
dependent = dataset[["Salary"]] # assigning output column values into dependent variable
dependent # printing dependent variable & output is splitted

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218

In [ ]:
# Input and output split is done

In [ ]:
# Now we are goint to do for splitting training set and test set

In [30]:
from sklearn.model_selection import train_test_split # sklearn library will support ML

In [42]:
x_train,x_test,y_train,y_test =train_test_split(independent,dependent,test_size=0.30,random_state=0) # giving inputs for paramaterized function

In [ ]:
# creating Linear algorithm(Learning space)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
regressor = LinearRegression() # Assigning all functions in the LinearRegression class into regressor variable
regressor.fit(x_train,y_train) #Substituting training variables, after execution of this line w,b value will be calculated

LinearRegression()

In [34]:
#Model creation is done
#
weight = regressor.coef_ # assigning weight value by using coefficient function
weight # printing weight value

array([[9164.74307159]])

In [35]:
bias = regressor.intercept_ # assigning bias value by using the intercept function
bias # printing the bias value

array([30243.39867206])

In [36]:
y_pred=regressor.predict(x_test) # predicted output value

In [41]:
# Evaluation metrics process
from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred) # creating r_score value by using actual value and predicted value
r_score # printing the r_score value

0.5693764383569495

In [38]:
# Saving the model
import pickle

In [39]:
filename = "finalized model linear.sav" # creating filenmae with .sav extention and assigning tbhat into filename variable
pickle.dump(regressor,open(filename,'wb')) # writing binary value and saving our model

In [40]:
#Model saved successfully
# Now loading the saved model for verification
loaded_model= pickle.load(open("finalized model linear.sav",'rb'))
result = loaded_model.predict([[12]])
result

C:\Users\Abu\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[140220.31553118]])